@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #060112;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060112;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  cursor: default;
}

@layer base {
  :root {
      --radius: 16px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .main-container {
    @apply flex flex-col justify-center md:flex-row w-screen h-full gap-5;
  }

  .child-wrapper {
    @apply flex flex-col gap-0 items-center pt-20 md:pt-[10rem] md:flex-row md:w-[90%] xl:w-[80%] w-screen sm:h-[90%];
  }

  .profile-card {
    @apply z-50 w-[95%] h-auto gap-4 sm:gap-0 sm:h-[640px] bg-white rounded-lg flex flex-col items-center justify-between text-center py-6 sm:py-8 md:w-[344px] md:fixed md:top-[18%];
  }

  .profile-card-skeleton {
    @apply !w-[344px] h-[640px] hidden md:block self-start;
  }

  .profile-card_title {
    @apply text-secondary/90 font-bold md:font-extrabold text-[28px] -tracking-[6%] max-xs:leading-6;
  }

  .profile-card_desc {
    @apply text-black-300 text-[18px] font-semibold leading-5 max-w-[300px];
  }

  .profile-card_socials {
    @apply flex w-full justify-center items-center gap-5;
  }

  .profile-card_icons {
    @apply text-primary-100 hover:translate-y-[-5px] duration-500 ease-in-out hover:text-primary-200 hover:cursor-pointer;
  }

  .about-title {
    @apply text-white-100 text-[52px] font-bold leading-none -tracking-[1%] text-center mt-8 mb-6 h-[6rem] sm:text-[84px] sm:mt-[10rem] sm:mb-[5rem] md:mt-0 md:mb-[8rem] md:text-[104px] sm:leading-[72px] md:leading-[96px] md:text-left;
  }

  .about-paragraph {
    @apply text-center font-medium text-[16px] w-full sm:text-[18px] md:text-left ;
  }

  .about-numbers {
    @apply grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-4 md:justify-items-start;
  }
  
  .about-numbers_items {
    @apply flex flex-col text-left gap-0 justify-center items-center;
  }

  .about-numbers_num {
    @apply font-bold text-[70px] -tracking-[5px] -ml-6;
  }

  .about-numbers_details {
    @apply -mt-3 leading-5 text-[15px];
  }

  .skills-grid-item {
    @apply w-full h-32 border-[1px] border-zinc-200/90 rounded-2xl backdrop-blur-lg;
  }

  .highlight {
    @apply font-semibold gradient-text;
  }

  .gradient-text {
    @apply bg-gradient-text bg-clip-text text-transparent;
  }

  .navbar_icons {
    @apply h-5 w-5 text-primary/80 hover:text-primary-200;
  } 
}
